In [1]:
import pandas as pd
import numpy as np

# read from csv
df = pd.read_csv('hsis-final.csv')
df.head()

,REPORT,ACCTYPE,TIME,WEEKDAY,RDSURF,LIGHT,weather,deg_curv,pct_grad,AADT,...,SURF_TY2,lanewid,rdwy_wid,FUNC_CLS,sex,young,old,drink,truck,old_car
0,1,33,127,7,2.0,4.0,3,43.74,3.87,23213.0,...,A,13,52,52.0,0,0,0,0,0,1
1,2,33,2115,4,2.0,3.0,2,43.74,0.19,21132.0,...,A,12,48,52.0,1,0,0,0,0,1
2,1,33,1829,2,2.0,1.0,3,17.74,0.19,21132.0,...,A,16,48,52.0,0,1,0,0,0,0
3,2,33,1815,7,1.0,1.0,1,0.93,2.76,21132.0,...,A,18,54,52.0,0,0,0,0,1,0
4,1,33,151,7,1.0,4.0,1,0.93,2.76,21132.0,...,A,18,54,52.0,1,1,0,0,0,0

## 比较算数运算

In [1]:
# pd.Series.sum()

In [2]:
# np.sum(pd.Series)

In [3]:
# np.sum(np.array)

In [4]:
# sum(pd.Series)

## 比较迭代速度

In [5]:
# pd.Series.apply()

In [6]:
# for value in pd.Series

In [7]:
# for i in range()
# df.loc[i, column_name]