## Exercise 2

1.从字典对象`data`创建DataFrame，设置索引为`labels`

In [5]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

2.显示DataFrame的基础信息，包括行的数量；列名；每一列值的数量、类型

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

3.展示`df`的前3行

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

4.取出`df`的`animal`和`age`列

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

5.取出索引为`[3, 4, 8]`行的`animal`和`age`列

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

6.取出`age`值大于3的行

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

7.取出`age`值缺失的行

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

8.取出`age`在2,4间的行（不含）

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

9.`f`行的`age`改为1.5

10.计算`visits`的总和

19

11.计算每个不同种类`animal`的`age`的平均数

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

12.计算`df`中每个种类`animal`的数量

cat      4
dog      4
snake    2
Name: animal, dtype: int64

13.先按`age`降序排列，后按`visits`升序排列

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

14.将`priority`列中的`yes, no`替换为布尔值`True, False`

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

15.将`animal`列中的`snake`替换为`python`

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

16.对每种`animal`的每种不同数量`visits`，计算平均`age`，即，返回一个表格，行是`aniaml`种类，列是`visits`数量，表格值是行动物种类列访客数量的平均年龄

In [21]:
df.dtypes

animal       object
age         float64
visits        int64
priority       bool
dtype: object

In [22]:
df.age=df.age.astype(float)

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

17.在`df`中插入新行`k`，[5.5, 'dog', 'no', 2] 然后删除该行

   animal  age visits  priority
a     cat  2.5      1         1
b     cat  3.0      3         1
c  python  0.5      2         0
d     dog  NaN      3         1
e     dog  5.0      2         0
f     cat  1.5      3         0
g  python  4.5      1         0
h     cat  NaN      1         1
i     dog  7.0      2         0
j     dog  3.0      1         0

18.有一列整数列`A`的DatraFrame，删除数值重复的行

In [25]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

19.一个全数值DatraFrame，每个数字减去该行的平均数

In [26]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

          0         1         2
0  0.687111  0.253807  0.055858
1  0.421019  0.485182  0.769135
2  0.682851  0.890064  0.581889
3  0.981318  0.180987  0.636936
4  0.748409  0.299690  0.765901
          0         1         2
0  0.354853 -0.078452 -0.276400
1 -0.137426 -0.073264  0.210690
2 -0.035417  0.171796 -0.136379
3  0.381571 -0.418760  0.037189
4  0.143742 -0.304977  0.161234

20.一个有5列的DataFrame，求哪一列的和最小

In [27]:
df = pd.DataFrame(np.random.random(size=(5, 5)), columns=list('abcde'))

          a         b         c         d         e
0  0.803327  0.587169  0.580991  0.888558  0.479443
1  0.244811  0.576403  0.115543  0.260217  0.510910
2  0.743825  0.825648  0.780630  0.007545  0.499888
3  0.954155  0.289535  0.266213  0.409581  0.304117
4  0.172618  0.272206  0.876143  0.473202  0.828703

'd'

21.给定DataFrame，求`A`列每个值的前3大的`B`的和

In [28]:
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

    A    B
0   a   12
1   a  345
2   a    3
3   b    1
4   b   45
5   c   14
6   a    4
7   a   52
8   b   54
9   c   23
10  c  235
11  c   21
12  b   57
13  b    3
14  c   87
A
a    409
b    156
c    345
Name: B, dtype: int64

C:\Users\acme\AppData\Local\Temp\ipykernel_17688\3605881006.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)

22.给定DataFrame，有列`A, B`，`A`的值在1-100（含），对`A`列每10步长，求对应的`B`的和

In [29]:
df = pd.DataFrame({'A': [1,2,11,11,33,34,35,40,79,99], 
                   'B': [1,2,11,11,33,34,35,40,79,99]})

    A   B
0   1   1
1   2   2
2  11  11
3  11  11
4  33  33
5  34  34
6  35  35
7  40  40
8  79  79
9  99  99
A
(0, 10]        3
(10, 20]      22
(20, 30]       0
(30, 40]     142
(40, 50]       0
(50, 60]       0
(60, 70]       0
(70, 80]      79
(80, 90]       0
(90, 100]     99
Name: B, dtype: int64

23.给定DataFrame，计算每个元素至左边最近的`0`（或者至开头）的距离，生成新列`y`

In [30]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

24.一个全数值的DataFrame，返回最大3值的坐标

In [31]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

          0         1         2
0  0.098330  0.634560  0.773477
1  0.435756  0.805351  0.119251
2  0.513574  0.920382  0.598549
3  0.969549  0.023873  0.173102
4  0.489005  0.451422  0.139388

[(1, 1), (1, 2), (0, 3)]

25.给定DataFrame，将负值代替为同组的平均值

In [32]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [-12,345,3,1,45,14,4,-52,54,23,-235,21,57,3,87]})

   grps  vals
0     a   -12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a   -52
8     b    54
9     c    23
10    c  -235
11    c    21
12    b    57
13    b     3
14    c    87
   grps        vals
0     a  117.333333
1     a  345.000000
2     a    3.000000
3     b    1.000000
4     b   45.000000
5     c   14.000000
6     a    4.000000
7     a  117.333333
8     b   54.000000
9     c   23.000000
10    c   36.250000
11    c   21.000000
12    b   57.000000
13    b    3.000000
14    c   87.000000

26.计算3位滑动窗口的平均值，忽略NAN

In [33]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                    'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64